body {

	font-family: Open Sans, sans;
	background: #6C7576 ;
}

h1,h2,h3,h4,h5,h6 {
	color: black;

	font-weight: bold;
}

h1 a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

h1 a:visited {
	text-decoration: none;
	color: white;
}

button {
	font-family: Open Sans, sans;
	font-size: 1em;
	background: #0C355C;
	border-radius: 5px;
	color: white;
	padding: 1%;
	margin-bottom: 1%;
	border: 2px solid black;


}

button:hover {
	background: #3F826D;
}

input[type=submit] {
font-family: Open Sans, sans;
	font-size: 1em;
	background: #0C355C;
	border-radius: 5px;
	color: white;
	padding: 1%;
	margin-bottom: 1%;
	border: 2px solid black;
}

button a {
	color: white;
	text-decoration: none;
}

input[type=submit]:hover {
	background: #3F826D;

}

.header {
	text-align: center;
	background: #0C355C;
	color: #white;
	padding: 1%;
	width: 70%;
	margin: auto;
}

.body {
	margin: auto;
	width: 70%;
	background: #E8E8E8;
	padding: 1%;

}


.footer {
	text-align: center;
	margin: auto;
	padding: 1%;
	width: 70%;
	background: #0C355C;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}